body {background-color: #0f1a20;
color:#ada296; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe {
    color:whitesmoke;
    text-align: center;
    list-style-type: none;
    padding:5px;
    margin:5px;
}

.main-list {
color:#ada296;}
.main-list:hover {background-color: #88a2aa;color:#0f1a20}

h1 {text-align: center; font-weight: 800; font-size: 32px;
color:#e2856e; text-decoration-line: underline;}

h2{font-weight: 800; font-size:24px;color:#e2856e; text-align: center; text-decoration-line: underline;}

h3{font-weight: 800; font-size:16px;color:#e2856e;
text-align: center;text-decoration-line: underline;}


.giphy {display: block; margin-left:auto; margin-right:auto;}

.foodpic {display: block; margin-left: auto; margin-right: auto;
width:350px; height:auto;}

.textlink {text-decoration: none; color:#ada296;}
.textlink:hover {background-color: #88a2aa;}


.miniheadline {color: #88a2aa;font-weight:500;}

div.overview {text-align:center;}

ul.incredients {display:inline-block;text-align:left;}
dt.incredients {display:inline-block;text-align:left;}

.recipe-box {margin: 0 80px;
display: block;}

.recipe-box li {margin:10px 0;
border-bottom:#88a2aa solid 0.5px;
border:75%;}

.tipp-card {box-sizing: border-box; border:#88a2aa solid 1px;
margin:0 20%; color:#e2856e; 
text-align: center;}

